@model ShoppingCart
@{
    ViewData["Title"] = "ViewCart";
}

<section class="centeredPanel" id="checkout">
    @*<h2>Solar System Geek Gift Shop</h2>*@
    <div class="header">
        
            <div class="name">
                Name
            </div>
            <div class="price">
                Price
            </div>
            <div class="qty">
                Qty.
            </div>
            <div class="total">
                Total
            </div>
       

    </div>

    <div class="shoppingcart">
        @* Loop Through the Items in the Cart and Display Them Here *@
        @foreach (var item in Model.Items)
        {
          <div class="cart-image">
              <img src="~/images/@item.Product.ImageName">
          </div> 

          <div class="cart">
              <div class="name">@item.Product.Name</div>
              <div class="price">@item.Product.Cost</div>
              <div class="qty">@item.Quantity</div>
              <div class="total">@((item.Product.Cost * item.Quantity).ToString("C"))</div>
          </div>

        }

        <div>
            <span>Grand Total</span>
            <span>@Model.GrandTotal.ToString("C")</span>
        </div>

    </div>

</section>

@*<td>
    <form method="post" asp-action="RemoveFromCart" asp-controller="Store">
        <input type="hidden" value="@item.Product.Id" name="id" />
        <button>Remove 1</button>
    </form>
</td>*@